@import url("colors.css");

* {
  /* font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, */
  /* sans-serif; */
  background-image: none;
  transition: 20ms;
  box-shadow: none;
}

window {
  background-color: rgba(12, 12, 12, 0.85);
  /* background: url("../hypr/wallpapers/lockscreen_wallpaper.jpg"); */
  background-size: cover;
}

button {
  color: #ffffff;
  font-size: 20px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;

  margin: 10px;
  border-radius: 20px;
  border-style: solid;
  background-color: rgba(12, 12, 12, 0.3);
  border: 3px solid #ffffff;

  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:focus,
button:active,
button:hover {
  color: @primary_accent;
  background-color: rgba(12, 12, 12, 0.5);
  border: 3px solid @primary_accent;
}

#lock {
  background-image: image(url("icons/lock.png"));
}

#logout {
  background-image: image(url("icons/logout.png"));
}

#suspend {
  background-image: image(url("icons/suspend.png"));
}

#hibernate {
  background-image: image(url("icons/hibernate.png"));
}

#shutdown {
  background-image: image(url("icons/shutdown.png"));
}

#reboot {
  background-image: image(url("icons/reboot.png"));
}

/* Add hover effect to change the background image */
button#lock:focus,
button#lock:active,
button#lock:hover {
  background-image: url("icons/lock_color.png");
}

button#logout:focus,
button#logout:active,
button#logout:hover {
  background-image: url("icons/logout_color.png");
}

button#suspend:focus,
button#suspend:active,
button#suspend:hover {
  background-image: url("icons/suspend_color.png");
}

button#hibernate:focus,
button#hibernate:active,
button#hibernate:hover {
  background-image: url("icons/hibernate_color.png");
}

button#shutdown:focus,
button#shutdown:active,
button#shutdown:hover {
  background-image: url("icons/shutdown_color.png");
}

button#reboot:focus,
button#reboot:active,
button#reboot:hover {
  background-image: url("icons/reboot_color.png");
}
