/* ##################################
 * #  Custom Volume Module Styling  #
 * ################################## */
@include styleModule(
    // class name
    'cmodule-settingsHyprPanel',
    // styling properties
    (
            'text-color': #cba6f7,
            'icon-color': #242438,
            'icon-background': #cba6f7,
            'label-background': #242438,
            'inner-spacing': 0.5em,
            'border-enabled': false,
            'border-color': #cba6f7,
            'icon-size': 1.2em
        )
    'cmodule-volume',
    // styling properties
    (
            'text-color': #cba6f7,
            'icon-color': #242438,
            'icon-background': #cba6f7,
            'label-background': #242438,
            'inner-spacing': 0.5em,
            'border-enabled': false,
            'border-color': #cba6f7,
            'icon-size': 1.2em
        )
);
